* {
    padding: 0;
    margin: 0;
    min-width: 0;
    box-sizing: border-box;
    font-family: 'open sans', Helvetica, sans-serif;
    font-weight: 300;
}
:root {
    --primary : #ff0078;
    --secondary : #ffb1d5;
}
@keyframes zoomFadeIn {
    10%, 90% {
        opacity: 1;
    }
    0%, 100% {
        opacity: 0;
    }
}
@keyframes zoomFadeIn2 {
    100% {
        opacity: 1;
    }
    0% {
        opacity: 0;
    }
}

@keyframes rotate {
    0%, 100% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(30deg);
    }
}

@keyframes transrotation {
    0%, 100% {
        transform: translate(0px) rotate(0deg);
    }
    25% {
        transform: translateX(-50px) rotate(-20deg);
    }
    75% {
        transform: translateX(50px) rotate(20deg);
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-8px);
    }
    60% {
      transform: translateY(-5px);
    }
  }
  
  .bounce {
    animation: bounce 1s infinite;
  }

p, input, button {
    font-weight: 200;
    line-height: 24px;
    letter-spacing: 1.5px;
    word-spacing: 7px;
}
.container {
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
button {
    animation: bounce 4s infinite;
    width: fit-content;
    margin: auto;
    padding: 15px 40px;
    margin-top: 30px;
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 999px;
    font-size: 1.2rem;

    &:active, &:focus, &:disabled {
        background-color: var(--secondary);
    }
}

header {
    padding: 60px 20px ;
    background-color: var(--primary);
    text-align: center;
    color: white;

    &.home {
        padding-bottom: 100px ;
        margin-bottom: 40px;
        img {
            filter: hue-rotate(350deg);
            max-width: 150px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%) translateY(15%);
            
            ;
        }
    }

    .result {
        background-color: white;
        color: var(--primary);
        margin: auto;
        width: 12.5rem;
        height: 12.5rem;
        font-size: 3.5rem;
        font-weight: 900 !important;
        border-radius: 9999px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        span.per {
            font-size: 1rem;
        }

    }
    h3 {
        text-transform: capitalize;
    }
}

#content {
    border-radius: 999px !important;
}

body {
    background-color: #ffffff;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    #inputs, #calc-loader, #results {
        flex: 1;
    }
    .credits {
        padding: 20px;
        text-align: center;
        font-size: 0.85rem;
        a {
            color: var(--primary);
            text-decoration: none;
        };
    }
    h1 {
        font-weight:900;
        line-height: 40px;
        font-size: 3rem;
        color: white;
        position: relative;
        text-align: center;
        margin-bottom:20px ;
        &::after {
            content: 'by @Hermanno18';
            font-size: 10px;
            position: absolute;
            bottom: -5px;
            left: 50%;
            translate: -50%;
            opacity: 0.5;
        }
    }

    p {
        text-align: center;
        font-weight: 400;
        font-size: 0.8rem;
    }

    #inputs {
        form {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 60px 25px ;
            justify-content: center;
            font-size: 2rem;


            input {
                width: 100%;
                font-weight: 400;
                padding:  10px 15px;
                border: 1px solid var(--secondary);
                border-radius: 9999px;
                font-size: 1rem;

                &:active, &:focus {
                    border-color: var(--primary);
                }
            }
        
        }
    }
    #calc-loader {
        color: white;
        background-color: var(--primary);
        height: 100dvh;
        width: 100dvw;
        display: flex;
        place-content: center;
        place-items: center;
        position: fixed;
        top: 0;
        left: 0;
        visibility: hidden;
        transition-property: all;
        background: rgb(255,0,120);
        background: radial-gradient(circle, rgba(255,0,120,1) 34%, rgba(255,177,213,1) 61%, rgba(255,255,255,1) 90%);
        
    }
    #calc-loader[data-display='true']  {
        animation: zoomFadeIn 5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
        visibility: visible;
        header {
            background-color: transparent;
        }
    }
    #results {
        height: 100dvh;
        width: 100dvw;
        position: fixed;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        background-color: white;
        display: flex;
        flex-direction: column;

        & div:first-child {
            flex: 1;
        }
        header {
            position: relative;
            &>img {
                position: absolute;
                z-index: 20;
                top: 0;
                right: -30px;

                &:first-child {
                    bottom: 0;
                    left: -30px;
                    top: unset;
                }
            }
        }
        .result {
            position: relative;
            z-index: 200;
            .deco {
                height: 10px;
                width: 10px;
                background-color: var(--secondary);
                position: absolute;
                border-radius: 999px;
                top: 0;
                left: 0;
                border: 1px solid white;
                opacity: 0;
                &.a {
                    bottom: 0;
                    top: unset;
                    height: 20px;
                    width: 20px;
                    animation-delay: 1s;
                }
                &.b{
                    top: unset;
                    height: 20px;
                    width: 20px;
                    animation-delay: 1.5s;
                }
                &.c{
                    bottom: 0;
                    top: unset;
                    height: 50px;
                    width: 50px;
                    animation-delay: 2s;
                }
                &.d{
                    height: 40px;
                    width: 40px;
                    animation-delay: 2.5s;
                }
                
                &.f{
                    right: 0;
                    left: unset;
                    bottom: -8%;
                    top: unset;
                    height: 30px;
                    width: 30px;
                    z-index: 1;
                    animation-delay: 3.5s;
                }
                
                &.g{
                    right: 0;
                    left: unset;
                    bottom: -0%;
                    top: unset;
                    height: 40px;
                    animation-delay: 3s;
                    width: 40px;

                }
                &.e{
                    bottom: 0;
                    height: 40px;
                    right: 0;
                    left: unset;
                    width: 40px;
                    animation-delay: .5s;
                }
            }
        }

       div> p {
            font-size: 1.2rem;
            padding: 20px 10px;
        }
    }
    #results[data-display='true']  {
        visibility: visible;
        opacity: 1;

        .deco {
            animation: zoomFadeIn2 5s cubic-bezier(0.075, 0.82, 0.165, 1)  forwards;
        }
        header {
            img {
                
                animation: transrotation 5s ease-in-out  infinite;
                &:first-child {
                    animation-delay: 2s;
                    animation: rotate 5s cubic-bezier(0.075, 0.82, 0.165, 1)  infinite;
                }
            }
        }
        .sharers {
            display: flex;
            gap: 20px;
            justify-content: center;
        }
    }
}